{% extends "NBMainBundle::admin_layout.html.twig" %}

{% block title %}Acceuil {% endblock %}
{% block pagestyle %}
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.custom.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/chosen.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker3.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-timepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/daterangepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-colorpicker.min.css') }}" />
{% endblock %}
{% block breadcumbs %}
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Acceuil</a>
            </li>
            <li class="active">Tableau de bord</li>
        </ul><!-- /.breadcrumb -->

    </div>

{% endblock %}
{% block settings %}
    {% include "NBMainBundle:includes:settings.html.twig" %}
{% endblock %}

{% block content %}

    {% include "NBMainBundle:includes:boxes.html.twig" %}

    <div class="row">
        <div class="col-sm-6">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="smaller">
                        Rechercher des bus
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form id="search">
                            <div>
                                <label for="from">De</label>

                                <br />
                                <select class="chosen-select form-control" name="from" id="from" data-placeholder="Choisissez une ville...">
                                    {% for key, val in cities %}
                                    <option value="">  </option>
                                    <option value="{{ val.id }}">{{ val.nom }}</option>
                                   {% endfor %}
                                </select>
                            </div> <br>
                            <div class="center">
                                <i class="fa fa-exchange"></i>
                            </div>
                            <div>
                                <label for="to">A</label>

                                <br />
                                <select class="chosen-select form-control" name="to" id="to" data-placeholder="Choisissez une ville..">
                                    {% for key, val in cities %}
                                        <option value="">  </option>
                                        <option value="{{ val.id }}">{{ val.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div>
                                <label for="doj">Le</label>
                                <br>

                                <div class="input-group">
                                    <input class="form-control date-picker" readonly required="" id="doj" name="doj" type="text" data-date-format="dd-mm-yyyy" />
									<span class="input-group-addon">
											<i class="fa fa-calendar bigger-110"></i>
									</span>
                                </div>
                            </div> <br>

                            <div class="center">
                                <button class="btn btn-info" id="searchBtn" type="button">
                                    <i class="ace-icon fa fa-search bigger-110"></i>
                                    Rechercher
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter">
                        <i class="ace-icon fa fa-star orange"></i>
                        Reservations Recentes
                    </h4>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div style="display: block;" class="widget-body">
                    <div class="widget-main no-padding">
                        <table class="table table-bordered table-striped">
                            <thead class="thin-border-bottom">
                            <tr>
                                <th>
                                    <i class="ace-icon fa fa-caret-right blue"></i>Axes
                                </th>

                                <th>
                                    <i class="ace-icon fa fa-caret-right blue"></i>Clients
                                </th>

                                <th class="hidden-480">
                                    <i class="ace-icon fa fa-caret-right blue"></i>Date de voyage
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for key, val in latest_reservation %}
                            <tr>
                                <td>{{ val.travel.route.title }}</td>

                                <td>

                                       {{ val.tickets.nom }}

                                </td>

                                <td class="hidden-480">
                                    <span class="label label-info arrowed-right arrowed-in">{{ val.doj |date('d-m-Y') }}</span>
                                </td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->
        </div>
    </div><br>

    <div class="row">
        <div class="col-sm-4">
            <form id="recharge" data-parsley-validate="">
                <div>
                    <label for="doj">Recharger votre compte</label>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-money bigger-110"></i>
                         </span>
                        <input class="form-control" placeholder="Entre le montant" data-parsley-type="digits" required=""   id="amount" name="amount" type="text"  />
                        <span class="input-group-btn">
                            <button type="button" onclick="Recharge()"  class="btn btn-info btn-sm">
                                <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                OK
                            </button>
                        </span>
                    </div>
                </div> <br>
                <div class="small_loader" style="text-align:center;display:none"><img src="{{ asset('assets/images/loader-small.gif') }}"></div>
                <div class="recharge_res" style="text-align:center;"></div>

            </form>

        </div>
        <div class="col-sm-4">
            <form id="print" data-parsley-validate="">
                <div>
                    <label for="ticketno">Imprimer billet</label>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-print bigger-110"></i>
                         </span>
                        <input class="form-control" placeholder="Entrez le numero du billet" required=""   id="ticketno" name="ticketno" type="text"  />
                        <span class="input-group-btn">
                            <button type="button" onclick="PrintSeatseller()"  class="btn btn-info btn-sm">
                                OK
                            </button>
                        </span>
                    </div>
                </div> <br>
                <div class="small_loader" style="text-align:center;display:none"><img src="{{ asset('assets/images/loader-small.gif') }}"></div>
                <div class="print_res" style="text-align:center;"></div>

            </form>

        </div>

    </div>


{% endblock %}



{% block pagescript %}
    <!--[if lte IE 8]>
    <script src="assets/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="{{ asset('assets/js/jquery-ui.custom.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('assets/js/chosen.jquery.min.js') }}"></script>
    <script src="assets/js/spinbox.min.js"></script>
    <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/autosize.min.js') }}"></script>
    <script src="{{ asset('assets/js/parsley.min.js') }}"></script>
    <script src="assets/js/jquery.inputlimiter.min.js"></script>
    <script src="assets/js/jquery.maskedinput.min.js"></script>
    <script src="assets/js/bootstrap-tag.min.js"></script>
{% endblock %}

{% block scripts %}
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function($) {



            if(!ace.vars['touch']) {
                $('.chosen-select').chosen({allow_single_deselect:true});
                //resize the chosen on window resize

                $(window)
                        .off('resize.chosen')
                        .on('resize.chosen', function() {
                            $('.chosen-select').each(function() {
                                var $this = $(this);
                                $this.next().css({'width': $this.parent().width()});
                            })
                        }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function(e, event_name, event_val) {
                    if(event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function() {
                        var $this = $(this);
                        $this.next().css({'width': $this.parent().width()});
                    })
                });


            }








            //datepicker plugin
            //link
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
                //show datepicker when clicking on the icon
                    .next().on(ace.click_event, function(){
                        $(this).prev().focus();
                    });









            $(document).one('ajaxloadstart.page', function(e) {
                autosize.destroy('textarea[class*=autosize]')

                $('.limiterBox,.autosizejs').remove();
                $('.daterangepicker.dropdown-menu,.colorpicker.dropdown-menu,.bootstrap-datetimepicker-widget.dropdown-menu').remove();
            });

        });
    </script>
{% endblock %}